.wrapper {
    height: 5rem;
}

.home-nav-bar {
    height: 8rem;
}

.kpi-home-card-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    flex-wrap: wrap;
    margin: 0 auto;
}

.home-line-graph {
    width: 85rem;
    margin: 0 auto;
}

.transaction-home-data-table-container {
    width: 85rem;
    margin: 0 auto;
}

.transaction-home-data-table-header {
    color: white;
    text-align: left;
    margin-top: 5rem;
    margin-bottom: 0.5rem;
}