.categories-nav-wrapper {
  height: 6rem;
}

.categories-h1 {
  color: white;
}

.categories-kpi-cards {
    display: flex;
    justify-content: space-between;
    width: 55%;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 5rem;
}

.categories-cards-container {
    margin-bottom: 5rem;
}

.categories-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 7rem;
    justify-content: center;
    align-items: center;
  }
