.categories-nav-wrapper {
  height: 6rem;
}

.categories-h1 {
  color: white;
}

.categories-cards-container {
    margin: 0 auto;
}

.categories-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 7rem;
    justify-content: center;
    align-items: center;
  }
