.header-wrapper {
    height: 5rem;
}

.dropzone-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropzone-header {
    color: white;
    text-align: center;
    font-size: 2rem;
    margin-top: 5rem;
}