.header-wrapper {
    height: 5rem;
}

.dropzone-wrapper, .filedata-table {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropzone-header, .file-header {
    color: white;
    text-align: center;
    font-size: 2rem;
    margin-top: 2.5rem;
}

.filedata-table {
    margin-bottom: 4rem;
}
