.table-container-transactions {
    background-color: white;
    width: 90rem;
    height: 47.2rem;
    margin: 0 auto;
    border-radius: 3rem;
    -webkit-box-shadow: 10px 10px 70px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 70px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 70px 0px rgba(0,0,0,0.75);
}

.transactions-table {
    width: 90rem; 
}

.transactions-table-th {
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
    vertical-align: middle;
    padding: 1.5rem;
}

.transactions-table-td {
    font-weight: 600;
    font-size: 1.1rem;
    width: 2rem;
    border-top: 0.15rem solid lightgray;
    border-right: 0.15rem solid lightgray;
    padding: 1rem;
}

.transactions-table-td:last-child, td:last-child {
    border-right: none;
}

.transaction-table-pagination-container {
    margin: 0 auto;
    margin-top: 1rem;
    width: 90rem;
    height: 5rem;
}

.transaction-table-pagination-currentpage {
    float: left;
    background-color: white;
    width: 6rem;
    height: 2rem;
    border-radius: 15rem;
}

.transaction-table-pagination-currentpage p {
    margin: 0;
    font-weight: 700;
    font-size: 1rem;
    margin-top: 0.23rem;
  }

.transaction-table-pagination-previous, .transaction-table-pagination-next {
    font-weight: 700;
    font-size: 1rem;
    border-radius: 15rem;
    height: 2.2rem;
    width: 10rem;
    cursor: pointer;
    border: none;
    background-color: white;
    float: right;
}

.transaction-table-pagination-previous {
    margin-right: 1rem;
}